[Unit]
Description=Ninsd an helper for the resolver and IPv6
After=network.target

[Service]
Type=forking
EnvironmentFile=/etc/sysconfig/ninsd
ExecStart=/usr/sbin/ninsd $NINSD_OPTIONS

[Install]
WantedBy=network.target
