[Unit]
Description=radvc an helper for the resolver and IPv6
After=network.target

[Service]
Type=forking
ExecStart=/usr/sbin/eadvd

[Install]
WantedBy=network.target
